include map_editor/Images/default_button.png
include map_editor/Images/default_map.pgm
include map_editor/Images/default_map.yaml
include map_editor/Images/map_editor_logo.png
include map_editor/Images/waypoint_logo.png
